{% extends 'base.html' %}

{% block title %}
Nova sifra
{% endblock %}



{% block content %}


<div class="container" id="sifra_kontejner">
  <div class="container" id="sifra_kontejner2">
    <form class="" action="" method="post">
      <p>NOVA ŠIFRA:</p>
      <input type="text" name="ns" value="" required>
      <input type="submit" name="" value="Sačuvaj" style="background-color:green; color:white;">
    </form>
    <a href="{{ url_for('home') }}" class="btn btn-primary" id="sifra_nazad">Nazad</a>
  </div>
</div>




{% endblock %}
